.bio {
    width: 100%;
    background-color: white;
}
.contacts{
    display: flex;
    justify-content: space-between;
    padding: 15px 0 7px 0;
    border-bottom: 2px solid #6ecdd2;
    padding-left: 3%;
}
.contact-info {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.contact-info .info{
  display: flex;
  align-items: flex-start;
  margin: 10px;
}
.contact-info .info div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 10px;
    height: 25px;
}
.info svg{
    font-size: 19px;
    max-width: 14px;
}
.info path{
   max-width: 1px;
}
.info span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 17px;
}
.info input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    height: 20px;
    width: 320px;
}
.logo{
    margin-right: 6%;
    padding-top: 35px;
}
.logo img{
    width: 310px;
}
.logo h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 10px;
    font-size: 32.6px;
}
/* BUTTONS */
.bio-element button{
    width: 200px !important;
}
.bio-buttons button:nth-child(3){
    width: 200px !important;
    height: 30px;
}
/* STYLES TO ADDED ELEMENTS */
.bio-header-container{
    display: flex;
    align-items: flex-start;
    margin-top: 28px;
    margin-left: -22px;
}
.bio-header-container:not(:first-child){
   margin-top: 30px
}
.bio-header-area{
    font-size: 24px;
    font-weight: 600 !important;
    width: 100%;
    padding-top: 4px;
    margin-left: 15px;
}
.resume{
  height: 30px;
  width: 30px;
  padding-top: 2px;
  padding-left: 5px;
}
.experience {
  padding-top: 1px;
  padding-left: 6px;
  width: 31px;
  height: 31px;
}
.mortarboard {
    width: 30px;
    height: 30px;
}
.onlineCourse {
    padding-left: 2px;
    width: 26px;
    height: 26px;
}
.button-img {
    padding-top: 1px;
    padding-left: 0px;
    width: 31px;
    height: 31px;
}
.briefing {
    padding-top: -3px;
    padding-left: 5px;
    width: 31px;
    height: 31px;
}
@-moz-document url-prefix() {
  .bio-marker {
    margin-left: -11px !important;
    align-items: baseline !important;
  }
}
.bio-marker-container{
    display: flex;
    align-items: baseline;
    width: 100%;
}
.bio-marker {
    display: flex;
    align-items: flex-start;
    list-style: none;
    margin: 14px 0px 10px -6px; 
}
.bio-marker .close-icon {
    padding-top: 10px;
}
.bio-marker::before {
    content: "\2022"; 
    color: #11adb5;
    font-size: 34px;
    font-weight: bold;
    padding-right: 12px;
    width: 1em;
    height: 1em;
}
.bio-marker-input{
    font-size: 18px;
    width: 100%;
}
.bio-marker-area{
    align-items: center;
    font-size: 18px;
}
.bio-area-marker{
    display: flex;
    align-items: flex-start;
    margin-left: 37px;
    list-style: none; 
    width: 96%;
}
.bio-area-marker .close-icon{
    padding-top: 10px;
}
li .bio-area-container {
  width: 90.6%;
}
.bio-area-marker::before {
    content: "\2022"; 
    color: #11adb5;
    font-size: 34px;
    font-weight: bold;
    width: 24px;
}
.bio-area-container {
    display: flex;
    width: 93.7%;
}
.bio-container{
    display: flex;
    margin: 3px 0 -4px 36px;
    width: 95.2%;
}
.bio-container-mg{
    margin-top: -8px;
    margin-bottom: 13px;
    margin-left: 47px;
}
pre {
    margin: 0;
}
.textarea {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    border: none;
    border-bottom: 1px solid #6ecdd2;
    outline: none;
    background: none;
}
.contint {
    display: block !important;
    font-family: 'Montserrat', sans-serif; 
    color: rgb(37, 37, 37);
    margin-top: 7px;
    overflow: hidden;
    outline: none;
}
span {
    color: black;
}
.marker .contint {
    margin-top: 7px;
}
.marker .textarea {
    margin-top: 7px;
}
.bio-area-container .textarea{
    margin-top: 7px;
    width: 100%;
}
.bio-marker .textarea {
    margin-top: 7px;
}
.bio-container-mpTop {
    margin-top: 40px;
}
.close-icon{
    display: flex;
    /* flex-direction: column; */
    /* margin-left: 4px; */
    color: rgb(179, 179, 179);
}
.close-icon span{
    color: rgb(179, 179, 179);
}
.close-icon span:nth-child(1){
    margin-right: 6px;
}
.close-icon span svg{
    pointer-events: none;
}
/* CONTENT FIELD */
.biography {
    border-left: 1px solid #11adb5;
    margin: 0 0 40px 65px;
    width: 90.8%;
}
